#register-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    margin-top: 2.5rem;

}

#register-container h3{
    margin-left: 1rem;
}

#register-container h4{
    margin-left: 0.5rem;
}
canvas {
    display: none;
}

#game-info-container {
    padding: 1rem;
}

#game-info img {
    margin-right: 0.2rem;
    border: none;
}

#game-info{
    position: absolute;
    display: none;
    margin: 0.2rem;
    align-items: center;
    width: fit-content
}

#update-info{
    margin-left: 2rem;
}

#create-container,
#play-container {
    display: flex;
    width: fit-content;
    height: fit-content;
}

#icons-container {
    display: flex;
    justify-content: space-between;
}

input {
    height: 3rem;
}

button {
    width: 5rem;
    margin-left: 1rem;
}

.character-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.character-option img{
    background-color: #66B3FF;;
}

.character-option input {
    width: 1.2rem;
}