body {
    background-color: #66B3FF;
}

#register-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    margin-top: 0.5rem;

}


#register-container #logo {
border: none;
margin-bottom: 1rem;
}

canvas {
    display: none;
}

#game-info-container {
    padding: 1.5rem;
}

#game-info img {
    margin-right: 0.2rem;
    border: none;
}

#game-info{
    position: absolute;
    display: none;
    margin: 0.2rem;
    align-items: center;
    width: fit-content
}

#update-info{
    margin-left: 2rem;
}

#create-container,
#play-container {
    display: flex;
    width: fit-content;
    height: fit-content;
}

#play, #create{
    margin: 0rem;
    margin-left: 1rem;
    width: 5rem;
    text-align: center;
}

#icons-container {
    display: flex;
    justify-content: space-between;
}

#icons-container .character-option, 
#icons-container input{
    cursor: pointer;
}

input {
    height: 3rem;
}

button {
    width: 5rem;
    margin-left: 1rem;
}

.character-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.character-option img{
    background-color: #66B3FF;;
}

.character-option input {
    width: 1.2rem;
}

#map-generator-menu{
    width: 1200px;
    height: fit-content;
    border-style: solid;
    border-width: thin;
    display: flex;
    justify-content: space-around;
    background-color: #dfdfe58c;
    align-items: center;
}

.map-menu-items{
    max-width: 54px;
    max-height: 54px;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

.map-menu-items.selected{
    border-style: solid;
    border-color:#7FBFFF;
    border-width: 4px;
}

#create-map{
    margin: 0rem;
    margin-right: auto;
    width: fit-content;
    color: #0071DE;
    border-style: solid;
    border-width: thick;
    box-shadow: none;
}

#color-options-container{
    padding-right: 1rem;
    padding-left: 2.5rem;
    border-left-style: solid;
    border-width: thin;
}

.color-options{
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    cursor: pointer;
}

#color-option-0{
    background-color: #226289;
}

#color-option-1{
    background-color:#7FBFFF ;
}

#color-option-2{
    background-color: #9fd8fb;
}

.selected-color{
    border-style: solid;
    border-color:#47586981;
    border-width: 0.2rem;
}
